/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/register/style.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_container__l2cwB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  position: relative;
}

.style_navbar__8NlTq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.style_logo__sgVrs {
  width: 80px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.style_logo__sgVrs:hover {
  transform: scale(1.3) rotate(-3deg);
  cursor: pointer;
}

.style_title__d0C2C {
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.style_subtitle__hr6y8 {
  font-size: 24px;
  text-align: center;
  max-width: 80%;
  margin: 10px 0px;
}

.style_form_container__VbbDX {
  text-align: center;
}

.style_form_container__VbbDX label {
  font-size: 24px;
  font-weight: bold;
  width: 120px;
  margin-right: 10px;
  flex: 1 1;
  text-align: right;
  white-space: nowrap;
}

.style_form_container__VbbDX input {
  flex: 1 1;
  padding: 8px;
  border: 5px solid #EDBD14;
  background: black;
  color: white;
  font-size: 16px;
  text-align: center;
  outline: none;
  width: 100%;
}

.style_form_container__VbbDX button {
  width: 300px;
  padding: 10px;
  border: 6px solid #EDBD14;
  background: black;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.style_form_container__VbbDX button:hover {
  background-color: #FFC600;
  color: black;
  border-color: #FFC600;
  cursor: pointer;
}

.style_form_group__LC637 {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  transform: translateX(-20px);
}
