/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/home.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_container__4aFJ6 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.home_button_container__U1CXM {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
}

.home_button_container__U1CXM button {
  background-color: black;
  border: 6px solid #EDBD14;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.home_button_container__U1CXM button:hover {
  background-color: #FFC600;
  color: black;
  border-color: #FFC600;
  transform: scale(1.05);
  cursor: pointer;
}

.home_logo_img__cb_yH {
  width: 250px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.home_logo_img__cb_yH:hover {
  transform: scale(1.1) rotate(-3deg);
}

.home_title__zcKAO {
  font-size: 40px;
  margin-top: 5px;
}
